body {
    /* margin: 0; */
    /* flex-direction: column; */
    width: 100%;
    margin: auto;
    text-align: center;
}

/*  Color codes:  */
/*  #F1EFEF, #CCC8AA, #7D7C7C, #191717  */
/*  rgb(241, 239, 239), rgb(204, 200, 170), rgb(125, 124, 124), rgb(25, 23, 23)  */

header {
    width: 100%;
    height: 100px;
}

main {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 100%;
    background-color: rgb(22, 20, 20);
}

ul li {
    list-style-type: none;
    padding: 5px 8px;
    font-size: 1.1em;
}

ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
#acnt-icon {
    width:50px;
    height: 50px;
}

#header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color:white;
    border-bottom: solid 2px crimson;
    position: sticky;
    top:0;
    z-index: 999;
    width: 100%;
    justify-content: center;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#footer * {
    width: 100%;
    height: 100%;
}

#header * {
    margin: 5px auto;
}

h1 {
    color: crimson;
}
.main-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 10px auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

#product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#div-social {
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-social * {
    width:10%;
}
#footer div p {
    padding:10px 0;
    margin: 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
#top-btn {
    position: fixed;
    right: 10px;
    bottom: 30px;
}
#top-btn img {
    width: 50px;
    height: 50px;
    opacity: 0.3;
    background-color: white;
    border-radius: 25px;
}
#top-btn img:hover {
    opacity: 1;
}
.card {
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgba(165, 42, 42, 0);
}
.card * {
    box-sizing: border-box;
}
.card:hover {
    border: solid 2px crimson;
}
#div-social p a img:active {
    transition: all 2s;
    transform: rotate(60deg);
}
